# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# Virtual environments
venv/
.venv/
env/

# VS Code
.vscode/

# PyCharm
.idea/

# Python distribution/build files
build/
dist/
*.egg-info/

# Logs
*.log

# Operating System files
.DS_Store
Thumbs.db